body {
    background-color: black;
}

#meme_container {
    width: 700px;
    height: 380px;
    background-color: black;
    margin-left: 250px;
    margin-top: 20px;
}

img {
    border: 3px solid white;
    width: 600px;
    margin-left: 50px;
    
    
}

h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
}

p {
    text-align: center;
    color: white;
    font-size: 15px;
}